.site-nav {
    background-color: #30c9c9;
    color: white;

    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    margin-left: 10px;
    padding-right: 20px;
}

.site-logo {
    height: 80px;
    padding-left: 20px;
}

